.home{
    height: calc(100vh - 70px);

    .home__cont{
        display: flex;
        flex-direction: column;
        padding: 10px;

        section{
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 15px;
            gap: 20px;
        }

        div{
            display: flex;
            margin-left: 15px;
        }
    }
}


@media screen and (max-width: 760px) {
    section{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    div{
        flex-direction: column;
    }
}