.sidebar{
    display: flex;
    border-right: 2px solid lightgray;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 70px);

    ul{
        display: flex;
        margin: 10px 15px;
        flex-direction: column;
        justify-content: center;


        .li{
            list-style: none;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0px 15px;

            &:hover{
                background-color: lightgray;
                cursor: pointer;
                border-radius: 5px;
            }

            span{
                color: gray;
            }

            p{
                font-weight: 600;
                color: #001D3D;
            }
        }

    }
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0px 15px;
        margin: 15px 15px;
        cursor: pointer;

        span{
            &:first-child{
                color: gray;
            }
            &:last-child{
                color: #222;
                font-weight: 600;
            }
        }
    }

}
